/* Begin Header */

@media (max-width: 600px) {
    #header {
	display: none;
    }
}

#header {
    height: 350px;
}

@keyframes road-scroll {
    100% {
	transform: translateY(2800px);
    }
}

#grid {
    height: 3200px;
    width: 100%;
    margin-top: -2800px;
    background: url(/images/grid.jpg);
    animation: road-scroll 18s linear infinite;
}

#grid-wrapper-inner {
    width: 100%;
    height: 340px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -3%;
    overflow: hidden;
    transform: rotateX(75deg);
}

#grid-wrapper-outer {
    position: absolute;
    top: 100px;
    left: 0;
    padding: 0;
    width: 100%;
    perspective: 150px;
    perspective-origin: 50% 100px;
    height: 255px;
    overflow: hidden;
    z-index: 1;
}

#blue {
    position: absolute;
    height: 50px;
    margin-top: 45px;
    width: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0,181,255,0.7), transparent);
}

@keyframes galaxy-move {
    100% {
	transform: translateY(-1800px);
    }
}

#galaxy {
    left: 0;
    top: 0;
    background-image: url(/images/galaxy.jpg);
    height: 2000px;
    width: 2000px;
    margin-top: 0;
    width: 100%;
    background-repeat: repeat;
    animation: galaxy-move 150s linear infinite;
}

#galaxy-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    padding: 0;
    margin: 0;

    width: 100%;
    height: 320px;
    overflow: hidden;
}

#foreground {
    position: relative;
    z-index: 2;
}

#delorean {
    background-image: url(/images/delorean.png);
    width: 225px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -113px;
    top: 175px;
    background-size: contain;
    z-index: 3;
}

#wordmark {
    position: absolute;
    top: 50px;
    width: 100%;
}

#wordmark a {
    display: block;
    font-size: 0;
    position: relative;
    width: 600px;
    height: 150px;
    background-image: url(/images/wordmark.png);
    background-size: cover;
    margin: 0 auto;
}

#wordmark a:hover {
    background-position: 0 150px;
}

/* End Header */

#content {
    max-width: 900px;
}

#content ul {
    padding-left: 40px;
}
