<!doctype html>
<html class="height-full" lang="{{ site.lang }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics }}');
    </script>

    <meta charset="utf-8">
    <meta name="description" content="{{ site.description }}" />
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ "/assets/custom.css" | relative_url }}" rel="stylesheet" type="text/css">
  </head>
  <body class="bg-white height-full">
    <div class="d-md-flex height-full border-md-bottom">
      <div class="flex-self-stretch border-md-right border-gray-light bg-white col-md-5 col-lg-4 col-xl-3 px-4 px-md-6 px-lg-7 py-6">
        <img src="{{ site.avatar }}" class="circle mb-3" alt="avatar">
        <h1 class="mb-2 lh-condensed">{{ site.title }}</h1>
        <div class="f4 mb-6">
          {% for line in site.address %}
          <div class="d-flex flex-items-center">
            {{ line }}
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light">
        <div id="content" class="mx-auto">
          <div class="f4 mb-6">
            <div class="f4">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
