---
layout: compress
---

<!-- Layout based on https://github.com/github/personal-website/blob/master/_layouts/default.html -->
<!-- Header from https://old.reddit.com/r/dankmemes/wiki/config/stylesheet?v=50df492a-48cb-11e7-988c-0e73014aa6da&v2=8c226d64-48d0-11e7-b03d-0e1dbf2d0ee4 -->
<!-- DeLorean image appears to be from https://wall.alphacoders.com/big.php?i=829733 -->
<!-- Font used in wordmark: http://www.jeckodevelopment.com/en/fonts/jd-digital -->

<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics }}');
    </script>

    <meta charset="utf-8">
    <meta name="description" content="{{ site.description }}" />
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ "/assets/custom.css" | relative_url }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header" role="banner">
      <div id="foreground">
        <div id="delorean"></div>
        <span id="wordmark">
	  <a href="/">Roger Iyengar</a>
	</span>
      </div>


      <div id="grid_wrapper_outer">
	<div id="grid_wrapper_inner">
	  <div id="grid"></div>
	</div>

	<div id="blue"></div>
      </div>

      <div id="galaxy_wrapper">
	<div id="galaxy"></div>
      </div>
    </div> <!-- /#header -->

    <div id="main" class="d-md-flex border-md-bottom">
      <div class="flex-self-stretch border-md-right border-gray-light bg-white col-md-5 col-lg-4 col-xl-3 px-4 px-md-6 px-lg-7 py-6">
        <img src="{{ site.avatar }}" class="circle mb-3" alt="avatar">
        <h1 class="mb-2 lh-condensed">{{ site.title }}</h1>
        <div class="f4 mb-6">
          {% for line in site.address %}
          <div class="d-flex flex-items-center">
            {{ line }}
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light">
        <div id="content" class="mx-auto f4 mb-6">
          {{ content }}
        </div>
      </div>
    </div> <!-- /#main -->
  </body>
</html>
